.post-comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    margin-top: 5px;
    background-color: rgb(219, 219, 219);
}
.post-comments .comments-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    background-color: var(--base-color-light);
    border-bottom: 1px solid rgb(219, 219, 219);
}
.post-comments .comments-controller p,
.post-comments .comments-controller button {
    font-size: 12px;
    color: var(--base-color-dark);
}
.post-comments .comments-controller button {
    cursor: pointer;
    background-color: var(--base-color-light);
}
.post-comments .comments-list {
    max-height: 300px;
    overflow-y: scroll;
}