.conversation {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#seen {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    position: absolute;
    color: var(--base-color-dark);
}
#error {
    text-align: center;
    margin: 25px 0;
    color: var(--base-color-dark);
    font-size: 14px;
}
#error a {
    text-decoration: underline;
    color: var(--base-color-dark)
}
.hint {
    font-size: 14px;
    text-align: center;
    color: var(--base-color-dark);
}
