.sections {
    width: 75%;
    padding: 10px;
    background-color: var(--base-color-light);
}

.form div {
    color: var(--base-color-dark);
    margin: 0 0 15px 0;
}

.form div label {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    display: block;
}

.form div input,
.form div select {
    display: block;
    width: 250px;
    height: 40px;
    padding: 0 5px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 2px;
    background-color: var(--base-color-light);
}

.form div select {
    text-transform: capitalize;
}

.confirm {
    width: 100%;
    display: block;
    height: 40px;
    font-weight: bold;
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
    margin: 10px 0;
    cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .sections {
        width: 100%;
    }

}