a:hover {
    background-color: inherit;
}
body {
    height: 100%;
}
#root {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    #root {
        flex-direction: column-reverse;
    }
}