.switch-box {
    display: flex;
    width: 80%;
    margin: 0 auto 30px;
    overflow: hidden;
    background-color: var(--base-color-light);
    border: 1px solid var(--base-color-dark);
    border-radius: 25px;
}

.switch-box a {
    width: 50%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: capitalize;
    color: var(--base-color-dark);
}

.switch-box a.active {
    border-radius: 25px;
    background-color: var(--base-color-dark);
    color: var(--base-color-light)
}