:root {
    /* Main Colors */
    --base-color-light: #FFF;
    --base-color-dark: rgb(32, 32, 32);
    --base-hover-color: rgb(22, 22, 22);
    --base-light-gray: rgb(180, 180, 180);
    /* Main Font Sizes for Post */
    --post-header-size: 14px;
    --post-content-size: 14px;
    --post-bottom-size: 12px;
    --post-comments-header-size: 14px;
    --post-comments-content-size: 12px;
    --post-comments-bottom-size: 12px;
}
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}

@media only screen and (max-width: 600px) {
    :root {
        /* Main Font Sizes for Post */
        --post-header-size: 12px;
        --post-content-size: 12px;
        --post-bottom-size: 11.2px;
        --post-comments-header-size: 12px;
        --post-comments-content-size: 11.2px;
        --post-comments-bottom-size: 11.2px;
    }
}