:root {
    /* Background */
    --base-background-dark: rgb(32, 32, 32);
    --base-background-light: #FFF;
    --base-background-hovered: rgb(55, 55, 55);
    /* Font Color */
    --base-color-light: #FFF;
    --base-color-dark: rgb(32, 32, 32);
    --base-light-gray: rgb(180, 180, 180);
}
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -ms-tap-highlight-color: transparent;
}