.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    margin: 20px 0;
}

.dark {
    color: var(--base-color-dark)
}

.light {
    color: var(--base-color-light);
}

.content-animation {
    width: 100px;
    height: fit-content;
    margin: auto;
    text-align: center
}

.content-animation>.icon1 {
    animation-name: spinner1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 40px;
}

.content-animation>.icon2 {
    font-size: 25px;
    transform: translateX(-4px) rotate(-5deg);
    animation-name: spinner2;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.image-content {
    width: 300px;
    height: 400px;
    margin: auto;
    background-image: url('../images/images.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);

    }
}

@keyframes spinner2 {
    0% {
        transform: translateX(-3px) rotate(-5deg);
    }

    100% {
        transform: translateX(-3px) rotate(360deg);
    }
}