.posts {
    min-width: 300px;
    max-width: 500px;
    /* max-height: 600px; */
    padding: 5px;
    margin: 10px auto;
    background-color: var(--base-color-light);
    color: var(--base-color-dark);
    border: 1px solid rgb(219, 219, 219)
}
.posts > .post-header,
.posts .post-bottom {
    display: flex;
    height: 50px;
    font-size: 12px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .posts {
        margin: 5px auto;
    }
}