.post-bottom {
    border: 1px solid rgb(219, 219, 219);
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

/* Buttons Section */
.post-bottom > button {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition-property: background;
    transition-duration: .5s;
    cursor: pointer;
    background-color: transparent;
}
.send-button {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.send-button:hover > svg {
    fill: var(--base-color-light)
}
.send-button svg {
    width: 14px;
}

/* Comment Section */
.comment-box {
    display: flex;
    height: 100%;
    font-size: 14px;
    border-right: 1px solid rgb(219, 219, 219);
    border-left: 1px solid rgb(219, 219, 219);
    background-color: transparent;
}

.comment-box form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.comment-input {
    /* width: 300px; */
    height: 100%;
    padding-left: 5px;
    align-self: center;
    font-size: inherit;
    background-color: transparent;
}

/*** Effects ***/
.post-bottom button:hover {
    background-color: var(--base-color-dark);
    color: var(--base-color-light);
    transition-property: background;
    transition-duration: .5s;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .post-bottom button {
        flex-grow: 1;
    }

    .comment-input {
        width: auto;
    }
}

@media only screen and (max-width: 420px) {
    .post-bottom button {
        font-size: 12px;
    }

    /* Comment Section */
    .comment-box {
        font-size: 12px;
    }
}