.post-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.post-controller>button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--base-color-light);
    transition: background .5s ease-in-out;
    background-image: url('../icons/sliders-solid.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.post-controller>button:hover {
    background-color: rgb(230, 230, 230);
    transition: background .5s ease-in-out;
}

.post-options {
    display: block;
    position: absolute;
    top: 45px;
    right: 0;
    width: fit-content;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px var(--base-color-dark));
    background-color: var(--base-color-light);
}

.post-options button {
    display: block;
    text-align: left;
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(219, 219, 219);
    transition: background .5s ease-in-out;
    cursor: pointer;
    padding: 0 5px 0 24px;
    background-image: url('../icons/bookmark-regular.svg');
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 14px;
}

.post-options button i {
    width: 30px;
    text-align: center;
}

.post-options button:hover {
    background-color: rgb(230, 230, 230);
    transition: background .5s ease-in-out;
}

.post-options button:last-of-type {
    border-bottom: none;
}

.delete {
}
/*** Media Querry ***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .post-controller div {
        top: 50px;
        right: 0;

    }
}

@media only screen and (max-width: 420px) {}