.left-side {
    flex-grow: 0;
}

.username {
    display: block;
    width: 150px;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 800;
}
/* Right Side */
.right-side {
    width: 400px;
    flex-grow: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-post-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

/* Effects */
a:hover {background-color: var(--base-background-light); transition: background .7s}
a[title='LinkedIn']:hover {background-color: #0E76A8; transition: background .7s}
a[title='Facebook']:hover {background-color: #1777f2; transition: background .7s}
a[title='Twitter']:hover {background-color: #00ACEE; transition: background .7s}
a[title='Whatsapp']:hover {background-color: #24CC63; transition: background .7s}
a[title='Telegram']:hover {background-color: #0084C6; transition: background .7s}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    button.create-post-btn {
        margin: 5px;
    }
}