.information-section {
    flex-grow: 0.3;
    width: 240px;
}
.story-section {
    width: 400px;
}
.friends-section {
    margin-top: 5px;
    width: 100%;
}

.username {
    display: block;
    width: fit-content;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 800;
}

.friend-actions {
    padding: 0 5px;
    border-radius: 2px;
    margin-right: 4px;
    background-color: var(--base-color-light);
    cursor: pointer;
    font-size: 12px;
}
.friend-actions > i {
    width: 20px;
    line-height: 27px;
    /* background-color: green; */
}
.add-friend:hover {
    border: 1px solid var(--base-color-light)
}

.create-post-btn {
    font-size: 12px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid var(--base-color-dark);
    border-radius: 4px;
    background-color: var(--base-color-light);
    transition: .4s background, color ease-in-out;
}
.create-post-btn:hover {
    background-color: var(--base-hover-color);
    color: var(--base-color-light);
    transition: .4s background, color ease-in-out;
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .username {
        font-size: 14px;
    }
    button.create-post-btn {
        margin: 5px;
    }
}