.user-info ul li {
    display: block;
    text-transform: capitalize;
    padding: 10px 0;
    font-size: 14px;
    color: var(--base-color-light);
    transition: background .7s ease-in-out;
    cursor: default;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 15px;
}
.user-info ul li i {
    width: 22px;
    margin-right: 2px;
    text-align: center;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .user-info h3 {
        text-align: left;
        font-size: 14px;
    }
    .user-info ul li {font-size: 12px}
    .user-info ul li > i {width: 22px}
}
