.requests-page {
    height: 100%;
}

.requests-page h2 {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px;
    color: var(--base-color-dark)
}

.requests-list {
    width: 350px;
    height: 100%;
    margin: auto;
    background-color: var(--base-color-light);
}

.requests-list li {
    display: flex;
    padding: 5px;
    align-items: center;
}

.request-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('../images/anonymous_user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.request-name {
    color: var(--base-color-dark);
    text-transform: capitalize;
    margin-right: auto;
}

.requests-page button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 2px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: var(--base-color-light);
    color: var(--base-color-dark);
    border: 1px solid var(--base-color-dark);
    font-size: 16px;
    cursor: pointer;
}

.requests-page button i {
    display: block;
    height: 100%;
    line-height: 30px;
    text-align: center;
}