.settings-form {
    height: 100%;
    padding: 5px;
}
.settings-form > h3 {
    margin: 25px 0 10px;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}
.settings-form > h3:first-of-type {margin: 0}
.settings-form > div {
    display: flex;
    margin: 15px 0;
    line-height: 1.5;
}
.settings-form > div > span {
    width: 80%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px
}
.settings-form > div > p {
    width: 85%;
    font-size: 14px;
    padding: 10px 0;
}

/* Submit Button */
.settings-form > button,
.settings-form > div > button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 50px auto 0;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: background .5s ease-in-out;
    text-transform: capitalize;
    color: var(--base-color-light);
    background-color: var(--base-background-hovered);
}
.settings-form > div > button {
    margin: 0;
    display: inline-block;
    width: 100px;
    height: 30px;
    position: static;
}

.settings-form > button:hover,
.settings-form > div > button:hover {
    background-color: rgb(45, 45, 45);
    transition: background .5s ease-in-out;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .settings-form > div {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .settings-form > div > span {
        width: 100%;
    }
    .settings-form > div > p {
        width: 100%;
    }
    .settings-form > div button {
        width: 100%;
    }
    .settings-form > button {
        margin-top: 10px;
    }
}