.comment-card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--base-color-light); */
    background-color: var(--base-color-light);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 5px;
}
.comment-card:last-of-type {
    border-bottom: none;
}
.comment-card .comment-header {
    display: flex;
    align-items: center;
}
.comment-card .comment-header .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* border: 1px solid var(--base-color-dark) */
}
.comment-card .comment-header .profile img {
    width: 40px;
    height: 40px;
}
.comment-card .comment-header .username a {
    font-size: 12px;
    margin-left: 5px;
    color: var(--base-color-dark)
}
.comment-card .comment-content {
    font-size: 14px;
    padding: 5px 0;
}
.comment-card .comment-footer {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.comment-card .comment-footer button {
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--base-color-light);
}
.comment-card .comment-footer i {
    font-size: 2.5px;
    margin: 0 6px;
    vertical-align: middle;
}