/* Search bar */
.search-bar {
    background-color: green;
    display: flex;
    align-items: center;
    margin: 0 10px;
    border-bottom: 0.1px solid rgb(219, 219, 219);
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
}

.search-bar > input {
    width: 300px;
    height: 100%;
    padding: 0 10px;
    color: var(--base-color-light);
    background-color: transparent;
}
.search-bar > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0 10px;
    cursor: pointer;
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
    transition-property: background, color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.search-bar > button:hover {
    color: var(--base-color-dark);
    background-color: var(--base-color-light);
    transition-property: background, color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/*** Media Querry ***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {
    .header > .container .search-bar > input {
        width: 220px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 890px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .search-bar {
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        height: 40px;
    }
    .search-bar > input {
        display: block;
        flex-grow: 1;
    }
    .search-bar > button {
        width: 35px;
        height: 35px;
    }
    
}