.container.settings > aside {
    height: 100%;
}
.container.settings > aside ul {
    width: 250px;
}
.container.settings > aside ul li {
    display: block;
}
.container.settings > aside ul li a,
.logout-btn {
    text-transform: capitalize;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    color: var(--base-color-light)
}
.container.settings > aside ul li a:hover {background-color: var(--base-background-light); color: var(--base-color-dark)}
.container.settings > aside ul li a:focus {border-left: 3px solid var(--base-color-light)}
.container.settings > aside ul li a > i {
    width: 25px;
}
.container.settings > aside button {
    color: var(--base-color-dark)
}
.container.settings > .information-section {
    overflow-y: auto;
}


/*** Media Querry ***/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 890px) {
    .container.settings > aside ul {
        width: 200px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container.settings > aside {
        width: 100%;
    }
    .container.settings > aside ul {
        width: 100%;
    }
}