/* Body Content */
.container-body {padding: 10px}

h4.hint {
    display: none;
    width: 250px;
    padding: 10px 15px;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    background: var(--base-background-dark);
    color: #fff;
    top: 60px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    z-index: 150;
}

/*** Media Querry ***/
/* 550px Screens */
@media screen and (max-width: 550px) {h4.hint {font-size: 12px}}
/* 525px Screens */
@media screen and (max-width: 525px) {h4.hint {width: 200px}}
/* 345px Screens */
@media screen and (max-width:345px) {h4.hint {font-size: 10px; width: 150px}}