/*** Profile Properties ***/
/** Frameworks **/
div.container-body:nth-child(3) {
    margin: 15px auto;
    padding: 5px;
    background-color: rgb(32,32,32);
}

/* User Id */
div.container div.user-left div.user-id div.image {
    width: 130px;
    height: 150px;
    position: relative;
    background-color: #000;
    border: 1px solid #fff;
}
div.container div.user-left div.user-id div.image i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    cursor: pointer;
}
div.container div.user-left div.user-id div.image img {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    text-align: center;
}
div.container div.user-left div.user-id div.image input {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
}
div.container div.user-left div.user-id div.name {
    display: inline-block;
    width: auto;

}
div.container div.user-left div.user-id div.name span{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
    display: none;
}
div.container div.user-left div.user-id div.name input{
    width: 130px;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
}
div.container div.user-left div.user-id div.name i {
    color: #fff;
    cursor: pointer;
}

/* User Info */
div.container div.user-left div.user-info {
    padding: 0 5px;
    outline: none;
    overflow: auto;
    height: 50%;
}
div.container div.user-left div.user-info h3 {
    color:#fff;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0;
}
div.container div.user-left div.user-info ul li {
    padding: 10px 0;
}
div.container div.user-left div.user-info ul li span {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 2px;
}
div.container div.user-left div.user-info ul li i {
    text-align: center;
    width: 25px;
    color: #fff;
    font-size: 14px;
}


div.container div.user-left div.user-info ul li input {
    width: 150px;
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(42, 120, 236);
    color: #fff;
    display: none;
}
div.container div.user-left div.user-info ul li span.edit {
    color: green;
    cursor: pointer;
}
div.container div.user-left div.user-info ul li span.edit2 {
    text-transform: lowercase;
    color: rgb(42, 120, 236);
    display: none;
}
/* User Right */
div.container-flex div.user-right{
    width: 50%;
    height: 100%;
    position: relative;
}
div.container div.user-right div.user-bio {
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    outline: none;
    text-align: center;
}
div.container div.user-right div.user-bio h3 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0;
}
div.container div.user-right div.user-bio > p {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
}
div.container div.user-right div.user-bio input{
    background-color: #fff;
    color: #000;
    width: 85%;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 14px;
    border: none;
    display: block;
    display: none;
}
div.container div.user-right div.user-bio button.edit , div.container div.user-right div.user-bio button.save {
    background-color: #fff;
    border: none;
    width: 60px;
    height: 30px;
    color: #000;
    text-transform: capitalize;
    display: inline-block;
    transition-property: background , color;
    transition-duration: .7s;
    outline: none;
    margin: 5px 0;
    /* display: none; */
}
div.container div.user-right div.user-bio button.save {
    display: none;
}
/* User Footer */
div.container div.user-right div.user-footer {
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    outline: none;
    text-align: center;
}
div.container div.user-right div.user-footer h3{
    color:#fff;
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0;
}
div.container div.user-right div.user-footer a {
    padding: 10px;
    display: inline-block;
    outline: none;
    transition: background .7s;
}
div.container div.user-right div.user-footer a span ,
div.container div.user-right div.user-footer a i {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 2px;
}

/*** Coding Creat Post (Beta) ***/
div.container-body div.creat-post {
    border: 1px solid rgb(32,32,32);
    min-height: 100px;
    padding: 5px;
    background-color: #fff;
    position: relative;
}
div.container-body div.creat-post div.post-options {
    position: relative;
}
div.container-body div.creat-post div.post-options button {
    border: none;
    width: 70px;
    height: 35px;
    background-color: rgb(32,32,32);
    cursor: pointer;
    transition: background .7s;
}
div.container-body div.creat-post div.post-options button span {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}
div.container-body div.creat-post div.post-options button:hover {
    background: #0084C6;
    transition: background .7s;
}
div.container-body div.creat-post div.post-options div.opt {
    background-color: rgb(32,32,32);
    height: 35px;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.container-body div.creat-post div.post-options div.opt span {
    color: #fff;
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    font-size: 14px;
    height: 100%;
    cursor: pointer;
    text-transform: capitalize;
    transition: background .7s;
}
div.container-body div.creat-post div.post-options div.opt span:hover {
    background: rgb(55,55,55);
    transition: background .7s;
}
div.container-body div.creat-post div.post-content {
    border: 1px solid rgb(32,32,32);
    position: relative;
    margin: 5px 0 0;
    padding: 5px;
    display: none;
    outline: none;
}
div.container-body div.creat-post div.post-content div.content {
    padding: 5px;
    word-wrap: break-word;
    height: 200px;
    overflow: auto;
    outline: none;
}
div.container-body div.creat-post div.post-content div.save {
    direction: rtl;
    display: none;
    padding: 5px;
}
div.container-body div.creat-post div.post-content div.save button {
    background-color: rgb(32,32,32);
    border: none;
    width: 70px;
    height: 35px;
}
div.container-body div.creat-post div.post-content div.save button span {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
}


/*** Effects ***/
div.container div.user-right div.user-bio button:hover {
    background-color: #000;
    color: #fff;
    transition-property: background , color;
    transition-duration: .7s;
}


/* Media Querry */
@media screen and (max-width: 775px) {
    /* Frameworks */
    div.container-flex {
        height: 360px;
    }
}

/* 550px Screens */
@media screen and (max-width: 550px) {
    /* Frameworks */
    .container {
        width: 100%;
    }
    div.container-flex {
        padding: 10px 0;
    }
    /* User Info */
    div.container div.user-left div.user-info h3 {
        padding: 0;
        font-size: 14px;
    }
    div.container div.user-left div.user-info ul li span ,
    div.container div.user-left div.user-info ul li i {
        font-size: 12px;
    }
    /* User Bio */
    div.container div.user-right div.user-bio {
        text-align: left;
    }
    div.container div.user-right div.user-bio h3 {
        padding: 0;
        text-align: left;
        font-size: 14px;
    }
    div.container div.user-right div.user-bio p{
        font-size: 12px;
        text-align: left;
    }
    div.container div.user-right div.user-bio input{
        padding: 5px;
        margin: 0;
        font-size: 12px;
    }
    div.container div.user-right div.user-bio button.edit , div.container div.user-right div.user-bio button.save {
        width: 40%;
        height: 25px;
    }
    /* User Footer */
    div.container div.user-right div.user-footer {
        text-align: left;
    }
    div.container div.user-right div.user-footer h3 {
        padding: 0;
        text-align: left;
        font-size: 14px;
    }
    div.container div.user-right div.user-footer a span ,
    div.container div.user-right div.user-footer a i {
        font-size: 12px;
    }
}

/* 360px Screens */
@media screen and (max-width: 360px) {
    /* Frameworks */
    div.container-flex {
        display: block;
        height: 340px;
    }
    div.container-flex div.user-left {
        display: flex;
        width: 100%;
        height: 60%;
        justify-content: space-between;
    }
    /* User Id */
    div.container div.user-left div.user-id span {
        font-size: 14px;
        text-align: left;
    }
    /* User Info */
    div.container div.user-left div.user-info {
        width: 50%;
        height: 100%;
    }
    div.container div.user-left div.user-info h3 {
        font-size: 1px;
    }
    /* Bio */
    div.container-flex div.user-right {
        display: flex;
        width: 100%;
        height: 40%;
        justify-content: space-between;
    }
    div.container div.user-right div.user-bio {
        width: 50%;
        height: 100%;
    }
    div.container div.user-right div.user-bio h3 {
        font-size: 12px;
    }
    div.container div.user-right div.user-bio p {
        padding: 5px;
    }
    /* User Footer */
    div.container div.user-right div.user-footer {
        width: 50%;
        height: 100%;
    }
    div.container div.user-right div.user-footer h3 {
        font-size: 12px;
    }
    div.container div.user-right div.user-footer a {
        padding: 5px;
    }
}
