/*** Frameworks ***/
.container {
    background-color: transparent;
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-55%);
}
/*** Code ***/
div.container div.login-box {
    background-color: #fff;
    width: 450px;
    padding: 50px 20px;
    border-left: 1px solid rgb(32,32,32);
    border-right: 1px solid rgb(32,32,32);
    margin: 0 auto;
}
div.container div.login-box div.switch-box {
    width: 300px;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 2px 15px rgb(32,32,32);
}
div.container div.login-box div.switch-box a {
    display: inline-block;
    padding: 10px 15px;
    width: 50%;
    background-color: transparent;
    text-align: center;
    outline: none;
}
div.container div.login-box div.switch-box a span {text-transform: capitalize}
div.container div.login-box div.switch-box a:first-child {
    background-color: rgb(32,32,32);
    border-radius: 20px ;
    color: #fff;
}
div.container div.login-box div.switch-box a:last-child {color:#000}


/* Links */
div.container div.login-box div.links {margin: 10px 0; padding: 10px 0}
div.container div.login-box div.links ul {text-align: center}
div.container div.login-box div.links ul li{display: inline-block; position: relative}
div.container div.login-box div.links ul li a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: rgb(32,32,32);
    transition: background .7s;
}
div.container div.login-box div.links ul li a i {color: #fff; font-size: 16px}
div.container div.login-box div.form {padding: 10px 5px}
div.container div.login-box div.form form {padding: 10px 5px; width: 80%; margin: 0 auto}
div.container div.login-box div.form form > input {
    display: block;
    padding: 10px 5px;
    margin: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(32,32,32);
    color: #000;
    width: 100%;
    font-size: 14px;
    outline: none;
}
/* alert */
div.container div.login-box div.form form > span {
    color: #f00;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 10px 0;
    text-transform: capitalize;
    display: none;
}
/* checkbox */
div.container div.login-box div.form form div.checkbox {padding: 10px 0; margin: 20px 0}
div.container div.login-box div.form form div.checkbox input {
    display: inline-block;
    vertical-align: middle;
    outline: none;
}
div.container div.login-box div.form form div.checkbox label {
    text-transform: capitalize;
    vertical-align: middle;
    font-size: 14px;
}
div.container div.login-box div.form form button {
    background-color: rgb(32,32,32);
    width: 60%;
    height: 35px;
    border: none;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    transition: background .7s;
}
div.container div.login-box div.form form button span {text-transform: capitalize; color: #fff}

/*** Effects ***/
div.container div.login-box div.form form button:hover {
    background-color: rgb(55,55,55);
    transition: background .7s;
}


/*** Media Query ***/
@media screen and (max-width: 460px){
    div.container div.login-box {
        width: 100%;
        padding: 30px 10px;
        border: none;
    }
    div.container div.login-box div.switch-box {width: 250px}

    /* Links */
    div.container div.login-box div.links ul li a {width: 40px; height: 40px}
    div.container div.login-box div.links ul li a i {color: #fff; font-size: 14px}
    div.container div.login-box div.form form button {width: 50%}
    div.footer {display: block}
}