/* Search Bar */
.header > .search-bar > .search button:hover {background-color: var(--base-background-light); transition: .5s background ease-in-out}




/*
* Media Querry
* 790px Screens
@media screen and (max-width: 1109px) {.header .search-bar .search {width: 50px}}


* 550px Screens
@media screen and (max-width: 550px) {.header > .logo {font-size: 14px}}
* 525px Screens
@media screen and (max-width: 525px) {
    * .headerbar Content
    .header > ul {width: 200px}
    * Menu bar (Beta)
    .header > .menu-bar {width: 54px; width: 100px}
    .header > .menu-bar > i.fa-bars {font-size: 16px}
}

* 362px Screens
@media screen and (max-width: 362px) {
    * .headerbar Content
    .header > ul {width: 180px}
}

* 345px Screens
@media screen and (max-width: 345px) {
    * .headerbar Logo
    .header > .logo {width: 100%}

}
* 345px Screens
@media screen and (max-width: 345px) {
    * .headerbar Logo
    .header > img.logo {width: 35%}
    .header > img.logo {width: 100%}

    * .headerbar Content
    .header > ul {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        float: none;
        width: 100%;
    }
    .header > ul > li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .header > ul > li > a {
        height: 50px;
        padding: 15px 20px;
    }
    .header > ul > li > a > span ,
    .header > ul > li > a > i {
        font-size: 15px;
    }
    * Settings
    .header > ul > li.settings > ul {
        top: 0;
        left: 100%;
        width: 65%;
    }
}
*/
/* JS Codes */
.show {display: block}
.header > ul.show {display: block}
/* Notifications */
.header > ul > .notifications > a > .all-notifications.show {display: block}
/* Settings */
.header > ul > .settings > ul.show {display: block}


/*** Media Querry ***/
/* 790px Screens */
@media screen and (max-width: 1109px) {.header .search-bar .search {width: 50px}}
/* 790px Screens */
@media screen and (max-width: 790px) {
    /* .headerbar Content */
    .header > ul {
        width: 250px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: var(--base-background-dark);
        display: none;
    }
    .header > ul {float: right; width: 100%}
    .header > ul li {
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .header > ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        
    }
    .header > ul li a span ,
    .header > ul li a i {font-size: 15px;
    }

    /*** Settings Beta ***/
    .header > ul li.settings ul {
        top: 0;
        left: -150px;
        width: 150px;
        background-color: var(--base-background-dark);
    }
    .header > ul li.settings ul li {width:100%}
    .header > ul li.settings ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        
    }
}

/* 550px Screens */
@media screen and (max-width: 550px) {.header > .logo {font-size: 14px}}
/* 525px Screens */
@media screen and (max-width: 525px) {
    /* .headerbar Content */
    .header > ul {width: 200px}
    /* Menu bar (Beta) */
    .header > .menu-bar {width: 54px; width: 100px}
    .header > .menu-bar > i.fa-bars {font-size: 16px}
}

/* 362px Screens */
@media screen and (max-width: 362px) {
    /* .headerbar Content */
    .header > ul {width: 180px}
}

/* 345px Screens */
@media screen and (max-width: 345px) {
    /* .headerbar Logo */
    .header > .logo {width: 100%}

    /* .headerbar Content */
    .header > ul {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        width: 100%;
    }
    .header > ul > li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .header > ul > li > a {
        height: 50px;
        padding: 15px 20px;
    }

    /* Settings */
    .header > ul > li.settings > ul {
        top: 0;
        left: 100%;
        width: 65%;
    }
}
/* 345px Screens */
@media screen and (max-width: 345px) {
    /* .headerbar Logo */
    .header > .logo {width: 35%}
    .header > .logo {width: 100%}

    /* .headerbar Content */
    .header > ul {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        float: none;
        width: 100%;
    }
    .header > ul > li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .header > ul > li > a {
        height: 50px;
        padding: 15px 20px;
    }
    .header > ul > li > a > span ,
    .header > ul > li > a > i {
        font-size: 15px;
    }

    /* Settings */
    .header > ul > li.settings > ul {
        top: 0;
        left: 100%;
        width: 65%;
    }
}

/* JS Codes */
.show {display: block}
.header > ul.show {display: block}
/* Notifications */
.header > ul > li.notifications > a > .all-notifications.show {display: block}
/* Settings */
.header > ul > li.settings > ul.show {display: block}

@media screen and (max-width: 345px) {
    /* .headerbar Content */
    .menu-list {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        width: 100%;
    }
    .menu-list > li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .menu-list > li > a {
        height: 50px;
        padding: 15px 20px;
    }
    /* Settings */
    .menu-list > .settings > ul {
        top: 0;
        left: 100%;
        width: 65%;
    }
}






/* 790px Screens */
@media screen and (max-width: 790px) {
    /* .headerbar Content */
    .menu-list {
        width: 250px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: var(--base-background-dark);
        display: block;
        background-color: green;
    }
    .menu-list li {
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    .menu-list li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        
    }
    .menu-list li a span ,
    .menu-list li a i {font-size: 15px;
    }

    /*** Settings Beta ***/
    .menu-list li.settings ul {
        top: 0;
        left: -150px;
        width: 150px;
        background-color: var(--base-background-dark);
    }
    .menu-list .settings ul li {width:100%}
    .menu-list .settings ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        
    }
}
