.post-likes {
    width: 340px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 4px;
    background-color: var(--base-color-light);
    color: var(--base-color-dark);
}

.likes-header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 14px;
}

.likes-header button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--base-color-light);
    background-image: url('../../../../icons/xmark-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    transition: background .4s ease-in-out;
    cursor: pointer;
}

.likes-header button:hover {
    background-color: rgb(219, 219, 219);
    transition: background .4s ease-in-out;
}

.likes-list {
    padding: 5px 10px;
    overflow-y: auto;
    max-height: 400px;
}

.likes-list li {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}

.likes-list li:last-of-type {
    margin-bottom: 0;
}

.post-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../../../../images/anonymous_user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.post-username {
    font-size: 13px;
    text-transform: capitalize;
    color: var(--base-color-dark);
    font-weight: bold;
}