.posts {
    min-width: 250px;
    max-width: 550px;
    /* max-height: 600px; */
    padding: 5px;
    margin: 10px;
    background-color: var(--base-color-light);
    color: var(--base-color-dark);
}
.posts > .post-header,
.posts .post-bottom {
    display: flex;
    height: 50px;
    font-size: 12px;
}
.posts:last-of-type {
    margin-bottom: 0;
}


/*** Media Querry ***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .posts {
        /* padding: 2px; */
        margin: 5px;
    }
}





/* 
* 640px Screens
@media screen and (max-width: 640px) {
    .posts {
        min-width: 200px;
        max-width: 500px;
        font-size: 14px;
    }
    .posts .post-header {width: 40%}
    .posts .post-content {min-height: 180px; max-height: 200px}
    .posts .post-bottom {font-size: 12px}
    .posts .post-bottom button {font-size: inherit}
    .posts .post-bottom .comment {font-size: inherit}
    .posts .post-bottom .comment input {font-size: inherit}
}

* 550px Screens
@media screen and (max-width: 550px) {
    .posts {
        min-width: 90%;
        max-width: 100%;
        font-size: 12px;
    }
    .posts .post-bottom button {font-size: inherit}
    .posts .post-bottom .comment {font-size: inherit}
    .posts .post-bottom .comment input {font-size: inherit}
}

* 525px Screens
@media screen and (max-width: 525px) {
    .container-body {padding: 5px}
    .posts .post-header {width: 50%}
    .posts .post-content {min-height: 150px}
    .posts .post-bottom button {padding: 10px 0; font-size: inherit}
    .posts .post-bottom .comment {font-size: inherit}
    .posts .post-bottom .comment input {padding: 10px 5px; font-size: inherit}
}
*/