.container.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--base-background-light);
    filter: drop-shadow(1px 1px 4px var(--base-color-dark))
    /* border-right: 1px solid var(--base-light-gray); */
    /* border-left: 1px solid var(--base-light-gray); */
}
/* messages-header */
.container.chat > .chat-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: var(--base-background-dark);
    color: var(--base-color-light);
}
.container.chat > .chat-header > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: var(--base-background-dark);
    color: var(--base-color-light);
    transition-property: background, color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}
.container.chat > .chat-header > button:hover {
    background-color: var(--base-background-light);
    color: var(--base-color-dark);
    transition-property: background, color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.container.chat > .chat-header > h3 > a {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--base-color-light);
}
.container.chat > .chat-header > .status {
    text-transform: capitalize;
    margin: 0 auto;
}
.container.chat > .chat-header > .status::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(44, 141, 44);
    margin-left: 10px;
}

.container.chat > .chat-header > .menu {
    display: none;
    width: 160px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
}
.container.chat > .chat-header > .menu.active {
    display: block;
}
.container.chat > .chat-header > .menu > li {
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.container.chat > .chat-header > .menu > li > a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: var(--base-color-light);
    background-color: var(--base-background-dark);
    text-align: left;
    font-size: 14px;
    transition: background .5s ease-in-out;
    text-transform: capitalize;
}
.container.chat > .chat-header > .menu > li > a:hover {
    background-color: var(--base-background-hovered);
    transition: background .5s ease-in-out;
}
.container.chat > .chat-header > .menu > li > a > i {width: 25px}


/* chat-Conversation */
.container.chat > .chat-conversation {
    /* height: 300px; */
    overflow-y: auto;
    padding: 0 4px;
}
.container.chat > .chat-conversation .receiver,
.container.chat > .chat-conversation .sender {
    color: var(--base-color-light);
    position: relative;
    margin: 10px 0;
}
.message-time {
    color: var(--base-color-dark);
    font-size: 12px;
    text-align: center;
    padding: 4px 0;
}
.container.chat > .chat-conversation .receiver .message-content,
.container.chat > .chat-conversation .sender .message-content {
    display: flex;
    align-items: center
}
.container.chat > .chat-conversation .receiver .message-content img,
.container.chat > .chat-conversation .sender .message-content img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--base-color-dark);
    font-size: 12px;
    align-self: flex-start;
    color: var(--base-color-light);
}
.container.chat > .chat-conversation .receiver .message-content span,
.container.chat > .chat-conversation .sender .message-content span {
    word-wrap: break-word;
    max-width: 50%;
    padding: 10px;
    background-color: var(--base-background-dark);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0px 10px 10px 10px;
}
.container.chat > .chat-conversation .receiver .message-content span {
    background-color: var(--base-background-light);
    color: var(--base-color-dark);
}

/*
.container.chat > .chat-conversation .sender {
    padding: 10px 5px;
    direction: rtl;
    text-align: right;
}
.container.chat > .chat-conversation .sender span {direction: ltr}

#seen {
    width: 15px;
    height: 15px;
    bottom: 5px;
    left: 5px;
    position: absolute;
    color: var(--base-color-dark);
}
*/

#seen {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    position: absolute;
    color: var(--base-color-dark);
}
#error {
    text-align: center;
    margin: 25px 0;
    color: var(--base-color-dark);
    font-size: 14px;
}
#error a {
    text-decoration: underline;
    color: var(--base-color-dark)
}

/* Send Message Inputs */
.container.chat > form {
    display: flex;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: var(--base-background-dark);
}
.container.chat > form input {
    width: 100%;
    padding: 0 15px;
    border-top: 1px solid var(--base-light-gray);
    color: var(--base-color-dark);
    background-color: var(--base-color-light);
}
.container.chat > form button {
    width: 100px;
    height: 100%;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--base-color-light);
    background-color: var(--base-background-dark);
}
.container.chat > form button i {width: 30px}

/*** Media Querry ***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 890px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container.chat > .chat-conversation .receiver .message-content span,
    .container.chat > .chat-conversation .sender .message-content span {
        max-width: 80%;
        padding: 5px;
    }
}
@media only screen and (max-width: 420px) {
}