/*
.container.chat > .chat-conversation .sender {
    padding: 10px 5px;
    direction: rtl;
    text-align: right;
}
.container.chat > .chat-conversation .sender span {direction: ltr}

#seen {
    width: 15px;
    height: 15px;
    bottom: 5px;
    left: 5px;
    position: absolute;
    color: var(--base-color-dark);
}
*/
#seen {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    position: absolute;
    color: var(--base-color-dark);
}
#error {
    text-align: center;
    margin: 25px 0;
    color: var(--base-color-dark);
    font-size: 14px;
}
#error a {
    text-decoration: underline;
    color: var(--base-color-dark)
}