body {
    display: flex;
    flex-direction: column;
}
#root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
@media only screen and (max-width: 600px) {
    #root {
        flex-direction: column-reverse;
    }
}