.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--base-color-light);
    margin: 0px 5px;
    font-size: 14px;
    color: var(--base-color-dark);
    border: 2px solid var(--base-hover-light)
}