.comment-card {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--base-color-light); */
    background-color: var(--base-color-light);
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 5px;
}

.comment-card:last-of-type {
    border-bottom: none;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url('../images/anonymous_user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    /* border: 1px solid var(--base-color-dark) */
}
.comment-profile > img {
    display: block;
    width: 100%;
    height: 100%;
}
.comment-username {
    font-size: 11.5px;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 5px;
    color: var(--base-color-dark)
}
.comment-date {
    font-size: 11px;
    margin-left: auto;
}
.comment-content {
    font-size: 12px;
    padding: 5px 0;
}
.comment-footer {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
}

.comment-card .comment-footer button {
    text-transform: capitalize;
    font-size: 11px;
    cursor: pointer;
    background-color: var(--base-color-light);
}

.comment-card .comment-footer i {
    font-size: 2.5px;
    margin: 0 6px;
    vertical-align: middle;
}
.comment-card .comment-footer span {
    font-size: 12px;
    padding: 0px 4px;
    border-right: 1px solid var(--base-light-gray);
    margin-right: 4px;
    cursor: pointer;
}