.comment-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.comment-controller > button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: background .5s ease-in-out;

}

.comment-options {
    position: absolute;
    top: 25px;
    right: 0;
    border-radius: 5px;
    border: 2px solid rgb(219, 219, 219);
    box-shadow: 0 0 12px 4px rgb(219, 219, 219);
    background-color: transparent;
    width: 100px;
}

.comment-options li button {
    display: block;
    text-align: left;
    font-size: 12px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(219, 219, 219);
    cursor: pointer;
    padding: 0 5px;
    background-color: var(--base-color-light);
    transition: background .5s ease-in-out;
}
.comment-options li button i {
    margin-right: 4px;
}
.comment-options li button:hover {
    background-color: rgb(230, 230, 230);
    transition: background .5s ease-in-out;
}

/*** Media Querry ***/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}