.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.no-posts {
    margin: 20px auto 0;
    color: var(--base-color-dark);
    text-align: center;
    font-size: 14px;
}
