.app-logo {
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2.5px solid var(--base-color-dark);
    color: var(--base-color-dark)
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .app-logo {
        width: auto;
    }
    .logo {
        width: 35px;
        height: 35px;
    }

}