.new-day {
    font-size: 11px;
    text-align: center;
}
.message-container {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.message-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 5px;
    align-self: flex-end;
    color: var(--base-color-light);
    background-image: url('../images/anonymous_user.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.message-profile>img {
    display: block;
    width: 100%;
    height: 100%;
}

.message-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    border-radius: 4px 4px 4px 0px;
    overflow: hidden;
    background-color: var(--base-color-dark);
    color: var(--base-color-light);
}

.message-content {
    font-size: 14px;
    word-wrap: break-word;
    padding: 5px;
    text-align: left;
}
.message-content textarea {
    resize: none;
    width: 220px;
    height: 70px;
}
.message-time {
    font-size: 10px;
    padding: 0 5px;
}

.message-content:lang(ar) {
    text-align: right;
}


/* Sender */
.sender {
    direction: rtl;
}

.sender .message-info {
    border: 1px solid var(--base-color-dark);
    border-radius: 4px 4px 0px 4px;
    direction: ltr;
    /* margin-left: auto; */
}

.sender .message-time {
    text-align: right;
}

.sender .message-status {
    margin-right: 5px;
}

/* Receiver */
.receiver {
    direction: ltr
}

.receiver .message-info {
    border: 1px solid rgb(219, 219, 219);
    color: var(--base-color-dark);
    background-color: var(--base-color-light);
}

.receiver .message-time {
    color: var(--base-color-dark);
}

.receiver .message-status {
    margin-left: 5px;
}

.message-status {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* align-self: flex-end; */
}

.message-control {
    align-self: flex-start;
    position: relative;
}

.receiver .message-control {
    margin: 0 auto 0 5px;
}

.sender .message-control {
    margin: 0 5px 0 auto;
}

.control-button {
    opacity: 0;
    width: 30px;
    padding: 5px 0;
    border-radius: 2px;
    transition: opacity .4s ease-in-out;
    cursor: pointer;
    background-color: var(--base-color-light);
}

.message-container:hover .control-button {
    opacity: 1;
    transition: opacity .4s ease-in-out;
}
.message-container:focus .control-button {
    opacity: 1;
}

.message-control ul {
    position: absolute;
    top: 0;
    display: flex;
    width: 50px;
    justify-content: space-between;
}
.sender .message-control ul {
    right: 105%;

}
.receiver .message-control ul {
    left: 105%;
}
.message-control ul li button {
    display: block;
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .message-profile {
        width: 30px;
        height: 30px;
    }

    .message-info {}

    .message-content {
        font-size: 12px;
        padding: 5px 10px;
    }

    .sender .message-info {}
}