.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    color: #909090;
}

.navigation li {
    height: 100%;
}

.navigation li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
    transition: color .5s ease-in-out;
    padding: 0 10px;
    color: currentColor

}

.profile-picture {
    display: block;
    background-image: url('../images/anonymous_user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: 2px solid #909090;
    border-radius: 50%;
    opacity: 0.65;
    margin-bottom: 5px;
    overflow: hidden;
}

.profile-picture>img {
    width: 100%;
    height: 100%;
}

.navigation li a.active {
    color: var(--base-color-dark);
}

.navigation li a.active .profile-picture {
    opacity: 1
}

.navigation li a svg {
    width: 24px;
    fill: currentColor;
    margin-bottom: 4px;
}

.navigation li a span {
    font-size: 12px;
}

.requests .new {
    position: absolute;
    top: 1px;
    left: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    color: var(--base-color-light);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** Effects ***/
.navigation li a:hover {
    color: var(--base-color-dark);
    transition: color .5s ease-in-out;
}

.notifications a:hover i {
    animation-name: bell;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 600px) {
    .navigation {
        width: 100%;
        margin: 0;
    }
    .navigation li {
        flex-grow: 1;
    }
    .navigation li.settings {
        display: none;
    }

    .navigation li a span {
        font-size: 8.5px;
    }

    .navigation li a svg {
        width: 25px;
        height: 25px;
        /* background-color: red; */
    }

    .profile-picture {
        width: 25px;
        height: 25px;
    }
/* 
    .new {
        right: 30px;
    } */


}