.notification-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--base-color-dark);
    padding: 10px 5px;
    border: 1px solid rgb(219, 219, 219);
}

.notification-profile {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: green;
    overflow: hidden;
}

.notification-profile img {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.notification-username {
    width: fit-content;
    font-size: 14px;
    color: var(--base-color-dark);
    background-color: red;
    margin-right: 5px;
}

.notification-content {
    overflow: hidden;
    font-size: 14px;
    word-wrap: break-word;
}


.notification-controller {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    background-color: green;
}

.notification-delete {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer
}

/*** Media Querry ***/
@media only screen and (max-width: 600px) {}