.post-comments {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(219, 219, 219);
    margin-top: 5px;
    background-color: rgb(219, 219, 219);
}
.comments-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    background-color: var(--base-color-light);
    border-bottom: 1px solid rgb(219, 219, 219);
}
.comments-controller p,
.comments-controller button {
    font-size: 12px;
    color: var(--base-color-dark);
}
.comments-controller button {
    cursor: pointer;
    background-color: var(--base-color-light);
}
.comments-list {
    max-height: 250px;
    height: auto;
    overflow-y: auto;
}
@media only screen and (max-width: 600px) {
    .comments-controller {
        padding: 10px 5px;
    }
    .comments-controller p,
    .comments-controller button {
        font-size: 11px;
    }
}