.post-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.post-controller>button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--base-color-light);
    transition: background .5s ease-in-out;
    background-image: url('../icons/sliders-solid.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}

.post-options {
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 5px;
    border: 2px solid rgb(219, 219, 219);
    box-shadow: 0 0 12px 4px rgb(219, 219, 219);
    background-color: var(--base-color-light);
    width: 100px;
    overflow: hidden;
}

.post-options button {
    display: block;
    text-align: left;
    font-size: 12px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(219, 219, 219);
    cursor: pointer;
    padding: 0 5px 0 22px;
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 12px;
    background-color: var(--base-color-light);
    transition: background .5s ease-in-out;
}

.post-options button:hover {
    background-color: rgb(230, 230, 230);
    transition: background .5s ease-in-out;
}

.post-options button:last-of-type {
    border-bottom: none;
}

.save-post {
    background-image: url('../icons/bookmark-regular.svg');
}

.delete-post {
    background-image: url('../icons/trash-can-solid.svg');
}
.edit-post {
    background-image: url('../icons/pen-to-square-regular.svg');
    
}
.report-post {
    background-image: url('../icons/triangle-exclamation-solid.svg');
}
/*** Media Querry ***/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .post-controller div {
        top: 50px;
        right: 0;

    }
}

@media only screen and (max-width: 420px) {}