.information-section {
    flex-grow: 0.3;
    width: 240px;
}

.story-section {
    width: 400px;
}

.friends-section {
    margin-top: 5px;
    width: 100%;
}

.username {
    display: block;
    width: fit-content;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 800;
}

.friend-actions {
    /* height: 24px; */
    padding: 5px;
    border-radius: 2px;
    margin-right: 4px;
    background-color: var(--base-color-light);
    cursor: pointer;
    font-size: 12px;
}

.friend-actions>i,
.message-friend>i {
    display: inline-block;
    width: 17px;
    text-align: right;
    /* line-height: 27px; */
}

.message-friend {
    display: inline-block;
    color: var(--base-color-dark)
}

.add-friend:hover {
    border: 1px solid var(--base-color-light)
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .username {
        font-size: 14px;
    }
    button.create-post-btn {
        margin: 5px;
    }
}