.requests-page {
    height: 100%;
}

.request-news {
    background-color: var(--base-color-dark);
    color: var(--base-color-light);
    font-size: 14px;
    padding: 5px;
    width: 50%;
    margin: auto;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.request-news>.hide-notifi {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.request-news .hide-notifi i {
    text-align: center;
    font-size: 12px;
}

.requests-page h2 {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px;
    color: var(--base-color-dark);
    width: 350px;
    margin: auto;
}

.requests-list {
    width: 350px;
    height: 100%;
    margin: auto;
    background-color: var(--base-color-light);
}
