footer {
    height: 30px;
    line-height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    color: var(--base-color-dark);
    background-color: var(--base-background-white);
}
footer p a {
    color: var(--base-color);
    display: inline-block;
    margin: 0 5px;
}

/*** Media Querry ***/
/* 550px Screens */
@media screen and (max-width: 550px) {footer {font-size: 10px; padding: 2px 0; height: 25px}}
/* 345px Screens */
@media screen and (max-width: 345px) {footer {display: none}}