.container {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    color: var(--base-color-light);
    background-color: var(--base-background-dark);
}
.container.form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 50px 20px;
    background-color: var(--base-background-light);
    filter: drop-shadow(1px 1px 5px var(--base-color-dark));
}
.container.header {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container.profile {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    color: var(--base-color-light);
    background-color: var(--base-color-dark);
}

.container.profile.loading {
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.container.notifications {
    height: 100%;
}

.container.settings {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.container.chat {
    display: flex;
    flex-direction: row;
    /* margin: 10px auto; */
    height: 100%;
    background-color: var(--base-background-light);
}


@media only screen and (max-width: 1080px) {
    .container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container.profile {
        padding: 5px;
    }
}
@keyframes loading {
    0% {
        background-color: rgb(200, 200, 200);
    }
    50% {
        background-color: rgb(230, 230, 230);
    }
    100% {
        background-color: rgb(200, 200, 200);
    }
}