.message-container {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    padding: 0 5px
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--base-color-dark);
    font-size: 12px;
    align-self: flex-end;
    color: var(--base-color-light);
}
.message-info {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    border-radius: 12px 12px 12px 0px;
    overflow: hidden;
    background-color: var(--base-background-dark);
}
.message-info > .message-content {
    font-size: 14px;
    word-wrap: break-word;
    padding: 10px;
    text-align: left;
}
.message-content:lang(ar) {
    text-align: right;
}
.message-info > .message-time {
    color: var(--base-color-light);
    font-size: 10px;
    padding: 5px 10px;
}

/* Sender */
.message-container.sender {
    direction: rtl;
}
.message-container.sender > .profile {
    margin-left: 5px;
}
.message-container.sender > .message-info {
    border-radius: 12px 12px 0px 12px;
    direction: ltr;
    margin-left: auto;
}

.message-container.sender > .message-info > .message-time {
    text-align: right;
}
.message-container.sender > .message-status {
    margin-right: 5px;
}

/* Receiver */
.message-container.receiver > .profile {
    margin-right: 5px;
}
.message-container.receiver > .message-info {
    border: 1px solid rgb(219, 219, 219);
    color: var(--base-color-dark);
    background-color: var(--base-background-light);
    margin-right: auto;
}
.message-container.receiver > .message-info > .message-time {
    color: var(--base-color-dark);
}
.message-container.receiver > .message-status {
    margin-left: 5px;
}
.message-status {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50px;
    height: 50px;
    overflow: hidden;
    align-self: flex-end;
}
.message-status.seen {

}
.message-status.sent {

}
.message-status > img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}