.container-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    color: var(--base-color-light);
}
.container-flex .left-side {
    flex-grow: 0;
}
.container-flex .left-side .user-id img {
    display: block;
    width: 150px;
    height: 160.15px;
    color: var(--base-color-dark);
    background-color: var(--base-background-light);
    cursor: pointer;
    text-align: center;
}
.container-flex .left-side .user-id span {
    display: block;
    width: 150px;
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 800;
}

/* Right Side */
.container-flex .right-side {
    width: 400px;
    flex-grow: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-section h3,
.story h3 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    padding: 10px 0;
}

.user-info ul li > i,
.story h3 > i,
.links-section h3 > i {width: 25px}


button.create-post-btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    /* border-radius: 20px; */
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

/* Effects */
a:hover {background-color: var(--base-background-light); transition: background .7s}
a[title='LinkedIn']:hover {background-color: #0E76A8; transition: background .7s}
a[title='Facebook']:hover {background-color: #1777f2; transition: background .7s}
a[title='Twitter']:hover {background-color: #00ACEE; transition: background .7s}
a[title='Whatsapp']:hover {background-color: #24CC63; transition: background .7s}
a[title='Telegram']:hover {background-color: #0084C6; transition: background .7s}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1080px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    /* User Info */
    .container-flex {
        padding: 5px;
    }
    .container-flex .left-side .user-info ul li,
    .container-flex .right-side .links-section ul li {font-size: 12px}
    
    /* Titles */
    .container-flex .left-side .user-info h3,
    .container-flex .right-side .story h3,
    .container-flex .right-side .links-section h3 {
        text-align: left;
        font-size: 14px;
    }
    .user-info ul li > i,
    .links-section h3 > i,
    .story h3 > i
     {width: 22px}
    
    .container-flex .right-side .story,
    .container-flex .right-side .links-section ul li a {font-size: 12px}
    .container-flex .right-side .story p {font-size: 12px}
    .container-flex .right-side .links-section {
        height: auto;
        padding: 0;
    }
    .container-flex .right-side .links-section ul {
        text-align: left;
    }
    .container-flex .right-side .links-section ul li a {
        padding: 5px 0;
        margin: 0 5px 0 0;
    }
}

/*
* Media Querry
@media screen and (max-width: 775px) {.container-flex {height: 360px}}
@media screen and (max-width: 640px) {.container {width: 100%}}
* 550px Screens
@media screen and (max-width: 550px) {

}

* 360px Screens
@media screen and (max-width: 360px) {
    * Frameworks
    .container-flex {display: block; height: 340px}
    .container-flex .left-side {
        display: flex;
        width: 100%;
        height: 60%;
        justify-content: space-between;
    }
    * User Id
    .container .left-side .user-id span {font-size: 14px; text-align: left}
    * User Info
    .container .left-side .user-info {width: 50%; height: 100%}
    * Bio
    .container-flex .right-side {
        display: flex;
        width: 100%;
        height: 40%;
        justify-content: space-between;
    }
    .container .right-side .user-bio,
    .container .right-side .links-section {width: 50%; height: 100%}
    * Titles
    .container .left-side .user-info h3,
    .container .right-side .user-bio h3,
    .container .right-side .links-section h3 {font-size: 12px}
    .container .right-side .user-bio p {padding: 5px 0}
    * User Footer
    .container .right-side .links-section ul li a {padding: 5px}
}
*/