body {padding: 60px 0 25px;}
.container , .container-body {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    color: var(--base-color-light);
    background-color: var(--base-background-dark);
}

/* 1080px Screens */
@media screen and (max-width: 1080px) {.container, .container-body {width: 90%}}
/* 550px Screens */
@media screen and (max-width: 550px) {body {padding-top: 50px}}
/* 345px Screens */
@media screen and (max-width: 345px) {body {padding-bottom: 0}}