body {padding: 60px 0 30px; background-color: var(--base-background-light)}
.container , .container-body {
    width: 1080px;
    margin: 0 auto;
    background-color: var(--base-background-dark);
    position: relative;
}

/* 1080px Screens */
@media screen and (max-width: 1080px) {.container, .container-body {width: 90%}}
/* 550px Screens */
@media screen and (max-width: 550px) {body {padding: 50px 0 25px}}
/* 345px Screens */
@media screen and (max-width: 345px) {body {padding-bottom: 0}}