/* nav */
nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row-reverse;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(32, 32, 32);
    z-index: 200;
}

/* nav - Logo */
nav div.logo-image {
    width: 100px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
}
nav img {
    width: 100px;
    height: 50px;
    cursor: pointer;
}

/* nav - Content */
nav > ul > li {display: inline-block; position: relative}
nav > ul > li > a {
    display: block;
    height: 50px;
    padding: 15px 10px;
    outline: none;
    position: relative;
    transition: background .5s ease-in-out;
}
nav > ul > li > a span ,
nav > ul > li > a i {
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    position: relative;
}
nav > ul > li > a i {padding-right: 5px}
nav > ul > li > a i span {
    color: #FFF;
    padding: 1px;
    border: 1px solid #f00;
    border-radius: 50%;
    top: -8.5px;
    left: -9px;
    position: absolute;
    font-weight: 800;
    font-size: 10px;
    text-shadow: .5px .5px rgb(32, 32, 32);
    display: none;
}

/* Message */
nav ul > li.msg > a {position: relative}
nav ul > li.msg > a > div.all-msg {
    background-color: rgb(32,32,32);
    width: 250%;
    height: 400px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-left: 1px solid rgb(32,32,32);
}
nav ul > li.msg > a > div.all-msg .msg-iframe {width: 100%; height: 100%}

/* Notifications */
nav ul > li.notifi > a {position: relative}
nav ul > li.notifi > a > div.all-notifi {
    background-color: rgb(32, 32, 32);
    width: 200%;
    height: 400px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: none;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-left: 1px solid rgb(32,32,32);
}
nav ul > li.notifi > a > div.all-notifi .notifi-iframe {width: 100%; height: 100%}

/* Settings */
nav ul > li.sett > ul {
    width: 100%;
    background-color: rgb(32, 32, 32);
    position: absolute;
    display: none
}
nav ul > li.sett > ul li {
    display: block;
    position: relative;
    transition: .5s background ease-in-out
}
nav ul > li.sett > ul li a {
    display: block;
    height: 50px;
    padding: 15px 10px;
    outline: none;
    position: relative;
    transition: .5s background ease-in-out
}
nav ul > li.sett > ul > li > a span ,
nav ul > li.sett > ul > li > a i {
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}


/* Search bar */
nav div.search-bar {
    display: flex;
    width: 300px;
    height: 50px;
    border-bottom: 2px solid #FFF;
}
nav div.search-bar input {
    color: #FFF;
    width: 90%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
}
nav div.search-bar button {
    color: #FFF;
    width: 50px;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .5s background ease-in-out;
}

/* Menu bar */
nav div.menu-bar {display: none}
nav div.menu-bar i {
    color: #fff;
    height: 50px;
    padding: 15px 20px;
    transition: background .5s;
    font-size: 20px;
    position: relative;
}
nav div.menu-bar i span {
    color: #fff;
    padding: 1px;
    border: 1px solid #F00;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    position: absolute;
    font-weight: 800;
    font-size: 10px;
    text-shadow: .5px .5px rgb(32, 32, 32);
    display: block;
    display: none;
}


/* nav - Social Links */
nav div.links ul li {
    display: inline-block;
    position: relative;
    transition: background .5s;
}
nav div.links ul li a {
    display: block;
    height: 50px;
    padding: 15px 20px;
    outline: none;
    transition: background .5s;
}
nav div.links ul li a i {
    color:#fff;
    text-transform: capitalize;
    text-align:center;
    font-size: 20px;
}


/*** Effects ***/
/* Navbar */
nav ul > li a:hover {
    background-color: rgb(55, 55, 55);
    transition: .5s background ease-in-out;
}
nav ul > li > a:after {
    content: "";
    display: block;
    background-color: #FFF;
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .5s height ease-in-out;
}
nav ul li a:focus {
    background-color: rgb(55, 55, 55);
    transition: .5s background ease-in-out;
}
nav ul li a:focus:after {
    height: 3px;
    transition: .5s height ease-in-out;
}
nav ul > li.notifi > a:hover > i {
    animation-name: bell;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
/* Menu Bar */
nav div.menu-bar i:hover {
    background-color: rgb(55, 55, 55);
    transition: .5s background ease-in-out;
}

/* Links */
nav div.links ul li:hover {
    background-color: rgb(55, 55, 55);
    transition: .5s background ease-in-out;
}
a[title='Facebook']:hover {
    background-color: #1976F2;
    transition: .5s background ease-in-out;
}
a[title='Twitter']:hover {
    background-color: #1DA1F2;
    transition: .5s background ease-in-out;
}
a[title='Instagram']:hover {
    background: -webkit-linear-gradient(to right,#4D58CE,#912EB9,#CF2872,#F27A1D,#F6D371);
    background: -moz-linear-gradient(to right,#4D58CE,#912EB9,#CF2872,#F27A1D,#F6D371);
    background: -o-linear-gradient(to right,#4D58CE,#912EB9,#CF2872,#F27A1D,#F6D371);
    background: linear-gradient(to right,#4D58CE,#912EB9,#CF2872,#F27A1D,#F6D371);
    transition: .5s background ease-in-out;
}

/* Search Bar */
nav div.search-bar div.search button:hover {background-color: rgb(55, 55, 55); transition: .5s background ease-in-out}

/*** Media Querry ***/
/* 790px Screens */
@media screen and (max-width: 1109px) {nav div.search-bar div.search {width: 50px}}
/* 790px Screens */
@media screen and (max-width: 790px) {
    /* Navbar Content */
    nav ul {
        width: 250px;
        position: absolute;
        right: 0;
        top: 50px;
        background-color: rgb(32, 32, 32);
        display: none;
    }
    nav ul {float: right; width: 100%}
    nav ul li {
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    nav ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        outline: none;
    }
    nav ul li a span ,
    nav ul li a i {
        color:#fff;
        text-transform: capitalize;
        text-align:center;
        font-size: 15px;
    }

    /*** Messages Beta ***/
    /* Message */
    nav ul > li.msg > a > div.all-msg {
        width: 200px;
        height: 300px;
        top: 0;
        left: -100px;
        /* display: none; */
    }

    /*** Settings Beta ***/
    nav ul li.sett ul {
        top: 0;
        left: -150px;
        width: 150px;
        background-color: rgb(32, 32, 32);
    }
    nav ul li.sett ul li {width:100%}
    nav ul li.sett ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        outline: none;
    }
    /** * **/
    /* Menu bar (Beta) */
    nav div.menu-bar {width: 150px; display: block}
    nav div.menu-bar i.fa-bars {float: right}
}

/* 550px Screens */
@media screen and (max-width:550px) {
    /* Navbar - Logo */
    nav div.logo-image {font-size: 14px}
}

/* 525px Screens */
@media screen and (max-width:525px) {
    /* Navbar Content */
    nav ul {width: 200px}
    /* Menu bar (Beta) */
    nav div.menu-bar {width: 54px; width: 100px}
    nav div.menu-bar i.fa-bars {font-size: 16px}
    /* Navbar - Social Links */
    nav div.links ul li a i {font-size: 16px}
}

/* 362px Screens */
@media screen and (max-width:362px) {
    /* Navbar Content */
    nav ul {width: 180px}
    /* Menu bar (Beta) */
    nav div.menu-bar {width: 80px}
}

/* 345px Screens */
@media screen and (max-width:345px) {
    /* Navbar Logo */
    nav div.logo-image {width: 35%}
    nav div.logo-image img {width: 100%}

    /* Navbar Content */
    nav ul {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        float: none;
        width: 100%;
    }
    nav ul li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    nav ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        outline: none;
    }
    nav ul li a span ,
    nav ul li a i {
        color:#fff;
        text-transform: capitalize;
        text-align:center;
        font-size: 15px;
    }
    /*** Messages Beta ***/
    /* Message */
    nav ul > li.msg > a > div.all-msg {
        width: 65%;
        height: 250px;
        top: 0;
        left: 100%;
        transform: translateX(0);
        /* display: none; */
    }

    /* Settings */
    nav ul li.sett ul {
        top: 0;
        left: 100%;
        width: 65%;
    }

    /* Menu bar (Beta) */
    nav div.menu-bar {
        width: 65%;
        float: left;
    }
    nav div.menu-bar i.fa-bars {float: left}

    /* Navbar Links */
    nav div.links {
        display: none;
        width: auto;
        bottom: 5px;
        left: 5px;
        position: fixed;
        background-color: rgb(32, 32, 32);
    }
    nav div.links ul li {
        display: inline-block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    nav div.links ul li a {
        display: block;
        height: auto;
        padding: 10px 15px;
        outline: none;
        transition: .5s background ease-in-out;
    }
    nav div.links ul li a i {
        color:#fff;
        text-transform: capitalize;
        text-align:center;
        font-size: 16px;
    }
}
/* 345px Screens */
@media screen and (max-width: 345px) {
    /* Navbar Logo */
    nav div.logo-image {width: 35%}
    nav div.logo-image img {width: 100%}

    /* Navbar Content */
    nav ul {
        left: 0;
        top: 50px;
        position: absolute;
        width: 65%;
        float: none;
        width: 100%;
    }
    nav ul li {
        direction: ltr;
        text-align: left;
        display: block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    nav ul li a {
        display: block;
        height: 50px;
        padding: 15px 20px;
        outline: none;
    }
    nav ul li a span ,
    nav ul li a i {
        color:#fff;
        text-transform: capitalize;
        text-align: center;
        font-size: 15px;
    }

    /*** Messages Beta ***/
    /* Message */
    nav ul > li.msg > a > div.all-msg {
        width: 65%;
        height: 250px;
        top: 0;
        left: 100%;
        transform: translateX(0);
        /* display: none; */
    }

    /* Settings */
    nav ul li.sett ul {
        top: 0;
        left: 100%;
        width: 65%;
    }

    /* Menu bar (Beta) */
    nav div.menu-bar {
        width: 65%;
        float: left;
    }
    nav div.menu-bar i.fa-bars {float: left}

    /* Navbar Links */
    nav div.links {
        display:none;
        width: auto;
        bottom: 5px;
        left: 5px;
        position: fixed;
        background-color: rgb(32, 32, 32);
    }
    nav div.links ul li {
        display: inline-block;
        position: relative;
        transition: .5s background ease-in-out;
    }
    nav div.links ul li a {
        display: block;
        height: auto;
        padding: 10px 15px;
        outline: none;
        transition: .5s background ease-in-out;
    }
    nav div.links ul li a i {
        color:#fff;
        text-transform: capitalize;
        text-align:center;
        font-size: 16px;
    }
}

/* JS Codes */
.show {display: block}
nav ul.show {display: block}
nav div.menu-bar i.fa-bars.test1 {float: left}
nav div.menu-bar i.fa-bars.test2 {float: right}
/* Messages */
nav ul li.msg a div.all-msg.show {display: block}
/* Notifications */
nav ul li.notifi a div.all-notifi.show {display: block}
/* Settings */
nav ul li.sett ul.show {display: block}

/*** Animations ***/
@keyframes bell{
    0% {
        transform: rotate(5deg);
    }
    10% {
        transform: rotate(-5deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(30deg);
    }
    70% {
        transform: rotate(-30deg);
    }
    80% {
        transform: rotate(40deg);
    }
    90% {
        transform: rotate(-40deg);
    }
}