.header {
    height: 60px;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1200;
    background-color: var(--base-background-dark);
}
/* .header - Logo */
.header > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.header > .container .logo {
    width: 100px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: var(--base-color-light);
}


/*** Media Querry ***/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .header {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .header .container > .logo {
        display: none;
    }
    .header .container > .search-bar {
        display: none;
    }
}