.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-header > .info {
    display: flex;
}
.post-header > .info > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
}
.post-header > .info > div {
    display: flex;
    flex-direction: column;
}
.post-header > .info > div .username {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 4px;
    text-transform: capitalize;
}
.post-header > .info > div .date {
    font-size: 12px;
}
.post-header > .info > div .date > i {margin-left: 4px}